[user]
	name = Jan Koeppen
	email = jan@yaneq.com
[core]
	excludesfile = /Users/jan/.gitignore_global
	autocrlf = input
	editor = /usr/bin/vi
	compression = -1
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = matching
[cola]
	spellcheck = false
[merge]
	conflictstyle = diff3
